#header {
    padding-left: 11%;
    position: sticky;
    top: 0;
    left: 0;

}

#content {
    padding-left: 16%;
    padding-top: 1%;
}

.footer {

}

main {
    height: 100%;
    min-height: 800px;
    position: relative;
    width: 100%;
}

#register, #login {
    background-color: #a1a1a1;
}